<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>524488083084-ggb85h2599f40dhnsrjkuttvo53bgo6n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.524488083084-ggb85h2599f40dhnsrjkuttvo53bgo6n</string>
	<key>API_KEY</key>
	<string>AIzaSyBYqHA6b7YNjZ8e4hz0ZLSob_9CPzqDCZI</string>
	<key>GCM_SENDER_ID</key>
	<string>524488083084</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.andrewmiller167.Socialise</string>
	<key>PROJECT_ID</key>
	<string>socialise-am167</string>
	<key>STORAGE_BUCKET</key>
	<string>socialise-am167.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:524488083084:ios:cd5acfd7290c57a0</string>
	<key>DATABASE_URL</key>
	<string>https://socialise-am167.firebaseio.com</string>
</dict>
</plist>